{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 80,
      "bracketSpacing": false,
      "singleQuote": true
    }],
    "no-console": 0,
    "prefer-const": ["error"]
  },
  "globals": {
    // browser
    "window": false,
    "document": false,
    "console": false,
    "Promise": false,
    "setTimeout": false,
    "confirm": false,

    // jquery
    "$": false,

    // nodejs
    "__dirname": false,
    "require": false,
    "module": false,
    "process": false,

    // noscript global reference
    "ns": false
  }
}