.root {
    display: flex;
    padding: 0.625em;
    position: relative;
}

.actions {
    position: absolute;
    right: 0.625rem;
    display: none;
}

.root:hover .actions {
    display: block;
}

.image-container {
    margin-right: 1em;
    flex: 1;
    position: relative;
}

.root.editing>.image-container {
    cursor: pointer;
}

.image-container .delete {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background-color: #fffc;
    padding: 0.3em;
}

.image-container.empty {
    position: relative;
}

.image-container.empty>.image-stub {
    border: 1px solid lightgray;
    color: gray;
    width: 15.625rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container>img {
    width: 15.625rem;
}

.image-container>input {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}

.props {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: flex-start;
    line-height: 1.5em;
}

.name {
    font-size: 1.5rem;
    margin-bottom: 0.625em;

    /* leave space on the right for form action buttons */
    width: calc(100% - 9rem);
}

textarea.description {
    margin-bottom: 0.625em;
    color: gray;
    width: calc(100% - 1.875rem);
}

textarea.description:not(:read-only) {
    resize: vertical;
}

.numbers {
    color: gray;
}

.numbers>span+span {
    margin-left: 0.625em;
}

.numbers input[type=number] {
    width: 3.125rem;
}

.complexity>input,
.popularity>input {
    margin-left: 0.625em;
}