:host {
    display: block;
    position: relative;
    outline: none;
}

/* controls (delete) */

:host > .controls {
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
}

:host:hover > .controls {
    display: inline-block;
}

/* photo */

:host > .photo {
    position: relative;
}

:host > .photo > .controls {
    display: none;
}

:host > .photo:hover > .controls {
    display: block;
}

:host > .photo.editable {
    cursor: pointer;
}

:host > .photo > input[type="file"] {
    display: none;
}

:host > .photo > img {
    width: 160px;
}

:host > .photo .controls {
    position: absolute;
    right: 0;
    top: 0;
}

/* form */

:host form textarea {
    resize: vertical;
}

:host form input.name {
    font-size: 1.5em;
}

:host form .description {
    color: #666;
}

:host form .description:not(.scrollable) {
    overflow: hidden;
}

:host form input.complexity,
:host form input.popularity {
    width: 45px;
}

:host form .form-group {
    margin-bottom: 0;
}