:host {
    display: block;
    position: relative;
    outline: none;
}

/* controls (delete) */

:host > .controls {
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
}

:host:hover > .controls {
    display: inline-block;
}

/* photo */

.photo {
    position: relative;
}

.photo > .controls {
    display: none;
}

.photo:hover > .controls {
    display: block;
}

.photo.editable {
    cursor: pointer;
}

.photo > input[type="file"] {
    display: none;
}

.photo > img {
    width: 160px;
}

.photo .controls {
    position: absolute;
    right: 0;
    top: 0;
}

/* form */

form textarea {
    resize: vertical;
}

form input.name {
    font-size: 1.5em;
    height: 1.5em;
}

form .description {
    color: #666;
}

form .description:not(.scrollable) {
    overflow: hidden;
}

form input.complexity,
form input.popularity {
    width: 45px;
}

form .form-group {
    margin-bottom: 0;
}