<div class="photo"
     (click)="onPhotoAdd($event, photo)">

    <div class="controls" *ngIf="editable && recipe && recipe.PhotoId">
        <a class="delete" (click)="onPhotoDelete($event)">
            удалить
        </a>
    </div>

    <img *ngIf="recipe && recipe.PhotoId" [src]="photoPath" />
    <img *ngIf="!recipe || !recipe.PhotoId" data-src="holder.js/140x140"/>
    <input type="file" #photo (change)="onPhotoChange($event)"/>
</div>

<div class="props">
    <input class="name"
           [(ngModel)]="recipe.Name"
           [disabled]="!editable"
           autofocus="editable && focusName"
           select-on-click>
    <textarea class="description"
              [(ngModel)]="recipe.Description"
              [disabled]="!editable"
              select-on-click>
    </textarea>

    Сложность: <input class="complexity"
                      type="number"
                      min="1"
                      max="10"
                      [(ngModel)]="recipe.Complexity"
                      [disabled]="!editable"
                      select-on-click>
    Популярность: <input class="popularity"
                         type="number"
                         min="1"
                         max="10"
                         [(ngModel)]="recipe.Popularity"
                         [disabled]="!editable"
                         select-on-click>
</div>

<div class="controls" *ngIf="deletable">
    <a class="delete" (click)="onDelete($event)">удалить</a>
</div>