:host > .container {
    outline: 1px solid lightgray;
    margin-top: 10px;
    box-shadow: 0 0 150px;
}

:host > .container > header {
    padding: 10px 0;
}

:host > .container > recipe-card-min {
    cursor: pointer;
}

:host > .container > recipe-card-min textarea {
    resize: none;
}

:host .pagination a {
    cursor: pointer;
}

recipe-card-min + recipe-card-min {
    margin-top: 5px;
}