<header>
    <button class="add" (click)="onNewRecipe()">добавить</button>
    <ul class="sort">
        <li (click)="onSort('Name')" 
            [ngClass]="{active: currentSortProp === 'Name'}">по алфавиту</li>
        <li (click)="onSort('Complexity')"
            [ngClass]="{active: currentSortProp === 'Complexity'}">по сложности</li>
        <li (click)="onSort('Popularity')"
             [ngClass]="{active: currentSortProp === 'Popularity'}">по популярности</li>
    </ul>
</header>

<recipe-card-min *ngFor="#recipe of recipes"
                  [recipe]="recipe"
                  [editable]="false"
                  [deletable]="true"
                  (click)="onRecipeSelected(recipe)"
                  (recipeDeleted)="onRecipeDeleted()">
</recipe-card-min>

<footer>
    <a class="prev" (click)="onPagePrev()">Назад</a>

    <ul class="pages">
        <li *ngFor="#page of pages"
            [ngClass]="{active: page === currentPage}"
            (click)="onPage(page)">
            {{page}}
        </li>
    </ul>

    <a class="next" (click)="onPageNext()">Вперёд</a>
</footer>

<recipe-card *ngIf="selectedRecipeId"
              [recipeId]="selectedRecipeId"
              (closing)="onRecipeCardClosing($event)"
              (saved)="onRecipeCardSaved()"
              (deleted)="onRecipeCardDeleted()">
</recipe-card>