node_modules/
packages/

*.log

# IntelliJ
.idea/
*.iml
*.iws

# Cloud9
.c9/
c9/

# VisualStudio
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.vs/