.root {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.root>.item {
    position: relative;
    float: left;
}

.root>.item:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.root>.item:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.root>.item:not(:first-child):not(:last-child) {
    border-radius: 0;
}