<link rel="import" href="/polymer/polymer.html">

<link rel="import" href="recipe-card-min.html">
<link rel="import" href="item-list.html">

<dom-module id="recipe-card">
    <template>
        <div id="modal-element-id" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="pull-right">
                            <template is="dom-if" if="{{isEditActionShown(editable, editing)}}">
                                <button type="button" class="btn btn-default"
                                        on-click="onEdit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </template>
                            <template is="dom-if" if="{{isSaveActionShown(saveable, editing)}}">
                                <button type="button" class="btn btn-default"
                                        on-click="onSave">
                                    <span class="glyphicon glyphicon-save"></span>
                                </button>
                            </template>
                            <template is="dom-if" if="{{isCancelActionShown(cancelable, editing)}}">
                                <button type="button" class="btn btn-default"
                                        on-click="onCancel">
                                    <span class="glyphicon glyphicon-erase"></span>
                                </button>
                            </template>
                            <template is="dom-if" if="{{isDeleteActionShown(deletable)}}">
                                <button type="button" class="btn btn-default"
                                        on-click="onDelete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </template>
                            <button type="button" class="btn btn-default"
                                data-dismiss="modal"
                                on-click="onClose">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <recipe-card-min class="row"
                                        recipe="{{recipe}}"
                                        deletable="{{cardMinDeletable}}"
                                        editing="{{editing}}">
                        </recipe-card-min>

                        <div class="row">
                            <div class="col-md-offset-3 col-sm-offset-4
                                        col-md-9 col-sm-8 col-xs-12">
                                <item-list class="ingredients"
                                    title="Ингредиенты"
                                    items="{{recipe.ingredients}}"
                                    editing="{{editing}}"
                                    ordered="{{isIngredientsListOrdered()}}">
                                </item-list>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-offset-3 col-sm-offset-4
                                        col-md-9 col-sm-8 col-xs-12">
                                <item-list
                                    title="Шаги"
                                    items="{{recipe.steps}}"
                                    editing="{{editing}}"
                                    ordered="{{isStepsListOrdered()}}">
                                </item-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'recipe-card',

            properties: {
                recipe: {
                    type: Object,
                    notify: true
                },
                cardMinDeletable: {
                    value: false
                },

                editable: Boolean,
                saveable: Boolean,
                cancelable: Boolean,
                deletable: Boolean,

                editing: Boolean
            },

            attached() {
                this.$modal = $(this.$['modal-element-id']);

                // on background click
                this.$modal.on('hide.bs.modal', () => {
                    this.onClose();
                });

                this.$modal.on('shown.bs.modal', function () {
                    // bootstap does not support jquery > 3,
                    // jquery changed the way .show() works
                    // so we need this workaround
                    this.$modal.css('display', 'block');
                }.bind(this));

                // show modal
                // bootstrap-jquery api - is only reason for direct DOM access.
                // bootstrap-attribute api will not work for startup popup from route
                this.$modal.modal('show');

                window.addEventListener('beforeunload', this.onWindowBeforeUnloadBound);
            },

            detached() {
                this.$modal.modal('hide');
            },
            
            /**
             * Unable to perform expressions inside template,
             * so there are a lot of seperate functions for simple calc 
             */
            isEditActionShown(editable, editing) {
                return editable && !editing;
            },

            isSaveActionShown(saveable, editing) {
                return saveable && editing;
            },

            isCancelActionShown(cancelable, editing) {
                return cancelable && editing;
            },

            isDeleteActionShown(deletable) {
                return deletable;
            },

            isIngredientsListOrdered() {
                return false;
            },
            isStepsListOrdered() {
                return true;
            },

            onClose() {
                this.fire('close');
            },

            onEdit() {
                this.editing = true;
            },

            onSave() {
                this.editing = false;
                this.fire('save');
            },

            onCancel() {
                this.editing = false;
                this.fire('cancel');
            },

            onDelete() {
                this.fire('delete', this.recipe);
            }
        });
    </script>
</dom-module>