<link rel="import" href="/polymer/polymer.html">
<script src="../helpers/helpers.js"></script>

<dom-module id="recipe-card-min">
    <style>
        :host {
            display: block;
            position: relative;
            outline: none;
        }

        :host .full-width {
            width: 100%;
        }

        /* controls (delete) */

        :host > .controls {
            display: none;
            position: absolute;
            top: 0;
            right: 15px;
        }

        :host:hover > .controls {
            display: inline-block;
        }

        :host input,
        :host textarea {
            padding: 5px;
            outline-offset: 0;
        }

        :host input[disabled],
        :host textarea[disabled] {
            border: none;
            box-shadow: none;
            background: transparent;
            color: black;
            cursor: inherit;
        }

        :host input:not([disabled]),
        :host textarea:not([disabled]) {
            border: none;
            box-shadow: none;
            outline: 1px solid gray;
        }

        /* photo */

        .photo {
            position: relative;
        }

        .photo > .controls {
            display: none;
        }

        .photo:hover > .controls {
            display: block;
        }

        .photo.editing {
            cursor: pointer;
        }

        .photo > input[type="file"] {
            display: none;
        }

        .photo > img {
            width: 160px;
        }

        .photo .controls {
            position: absolute;
            right: 0;
            top: 0;
        }

        /* form */

        form textarea {
            resize: vertical;
        }

        form input.name {
            font-size: 1.5em;
            height: 1.5em;
        }

        form .description {
            color: #666;
        }

        form .description:not(.scrollable) {
            overflow: hidden;
        }

        form input.complexity,
        form input.popularity {
            width: 45px;
        }

        form .form-group {
            
        }
    </style>
    <template>
        <div class$="photo col-md-3 col-sm-4 col-xs-12 {{getPhotoClass(editing)}}"
            on-click="onPhotoAdd">

            <template is="dom-if" if="{{isRecipePhotoEditable(editing)}}">
                <div class="controls">
                    <span on-click="onPhotoDelete($event)"
                            class="glyphicon glyphicon-trash"></span>
                </div>
            </template>
            
            <template is="dom-if" if="{{isRecipePhotoExists(recipe)}}">
                <img class="img-thumbnail"
                    src$="{{getPhotoPath()}}"/>
            </template>
            
            <template is="dom-if" if="{{!isRecipePhotoExists(recipe)}}">
                <!-- placeholder -->
                <img class="img-thumbnail" id="photo"
                    data-src="holder.js/160x160"/>
            </template>

            <input id="photoInput" type="file" on-change="onPhotoChange"/>
        </div>

        <div class="col-md-9 col-sm-8 col-xs-12">
            <form>
                <div class="form-group">
                    <input class="name full-width"
                        value="{{recipe.name::input}}"
                        disabled$="{{!editing}}"
                        placeholder="Название"
                        autofocus="editing && focusName">
                </div>
                <div class="form-group">
                    <textarea class="description full-width"
                        rows="2"
                        value="{{recipe.description::input}}"
                        disabled$="{{!editing}}"
                        placeholder="Описание">
                    </textarea>
                </div>
                <div class="form-group">
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <label>
                            <span class="glyphicon glyphicon-time"></span>
                        </label>
                        <input type="number"
                            class="complexity"
                            min="1" max="10"
                            value="{{recipe.complexity::input}}"
                            disabled$="{{!editing}}">
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <label>
                            <span class="glyphicon glyphicon-star"></span>
                        </label>
                        <input type="number"
                            class="popularity"
                            min="1" max="10"
                            value="{{recipe.popularity::input}}"
                            disabled$="{{!editing}}">
                    </div>
                </div>
            </form>
        </div>

        <template is="dom-if" if="{{deletable}}">
            <div class="controls">
                <span on-click="onDelete"
                        class="glyphicon glyphicon-trash"></span>
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'recipe-card-min',
            listeners: {
                'click': 'onSelect'
            },
            properties: {
                recipe: {
                    type: Object,
                    notify: true
                },
                editing: Boolean,
                selectable: Boolean,
                deletable: {
                    value: true
                }
            },

            getPhotoClass(editing) {
                return editing ? 'editing' : null;
            },

            isRecipePhotoExists(recipe) {
                return recipe && recipe && recipe.PhotoId;
            },

            isRecipePhotoEditable(editing) {
                return editing && this.recipe && this.recipe.PhotoId;
            },

            getPhotoPath() {
                return `api/recipes/photo/${this.recipe.PhotoId}`;
            },

            attached() {
                // need to skip current task, as dom-if templates
                // will be resolved later
                setTimeout(function() {
                    Holder.run();
                }, 0);
            },

            onPhotoAdd(e) {
                if (!this.editing) {
                    return;
                }

                e.stopPropagation();
                this.$.photoInput.click();
            },

            onPhotoChange(e) {
                if (!this.editing || !e.target.files.length) {
                    return;
                }

                let photo = e.target.files[0];
                let photoId = guid();
                this.fire('photochange', photoId, photo);
                this.recipe.PhotoId = photoId;
            },
            onSelect() {
                this.fire('recipe-select', this.recipe);
            },
            onDelete(e) {
                e.stopPropagation();
                this.fire('delete', this.recipe);
            }
        })
    </script>
</dom-module>