<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="./recipe-list.html">
<link rel="import" href="/iron-ajax/iron-ajax.html">

<script src="../helpers/helpers.js"></script>

<dom-module id="recipe-app">
    <style>
        :host {
            font-size: 2rem;
        }

        :host .full-width {
            width: 100%;
        }
    </style>
    <template>
        
        <!-- 
            ajax through html tag (declarative approach).
            does not requre any coding. ok for simple cases.
            result immediately bound to DOM. resend on state params change.
            for complex cases, like POST on user action, use fetch()
         -->
        <iron-ajax id="ajaxGetRecipes"
            auto
            url="/api/recipes"
            handle-as="json"
            params="{{getRecipesRequestParams(sortProp, sortDesc, skip, limit)}}"
            on-response="onRecipesReceived""></iron-ajax>

        <recipe-list
            recipes="{{recipes}}"
            recipes-total="{{recipesTotal}}"

            skip="{{skip}}"
            limit="{{limit}}"
            sort-prop="{{sortProp}}"
            sort-desc="{{sortDesc}}"

            on-recipe-add="onRecipeAdd"
            on-recipe-select="onRecipeSelect"
            on-recipe-delete="onRecipeDelete">
        </recipe-list>
        
        <template is="dom-if" if="{{selectedRecipe}}"
            restamp="false">
            <recipe-card
                recipe="{{selectedRecipe}}"
                editable="{{cardEditable}}"
                saveable="{{cardSaveable}}"
                cancelable="{{cardCancelable}}"
                deletable="{{cardDeletable}}"
                editing="{{cardEditing}}"

                on-save="onRecipeSave"
                on-cancel="onRecipeCancel"
                on-delete="onRecipeDelete"
                on-close="onRecipeCardClose"
                on-photochange="onRecipeCardPhotoChange"></recipe-card>
        </template>
    </template>
    <script>
        Polymer({
            is: 'recipe-app',

            properties: {
                recipes: Object,
                recipesTotal: Number,

                page: Number,
                sortProp: String,
                sortDesc: Boolean,
                skip: Number,
                limit: Number,

                selectedRecipe: Object,
                
                cardEditable: Boolean,
                cardSaveable: Boolean,
                cardCancelable: Boolean,
                cardDeletable: Boolean,

                cardEditing: Boolean
            },

            getRecipesRequestParams(sortProp, sortDesc, skip, limit) {
                
                let params = {
                    sprop: sortProp,
                    sdesc: sortDesc,
                    skip,
                    limit
                };

                return params;
            },

            onRecipesReceived(data) {
                this.recipes = data.detail.response.items;
                this.recipesTotal = data.detail.response.total;
            },
            onRecipeAdd() {
                var newRecipe = {
                    id: null, // null means this is new recipe
                    name: '',
                    description: '',
                    complexity: 1,
                    popularity: 1,
                    ingredients: [],
                    steps: []
                };

                this.selectedRecipe = newRecipe;

                this.cardEditable = false;
                this.cardSaveable = true;
                this.cardCancelable = false;
                this.cardDeletable = false;

                this.cardEditing = true;
            },
            onRecipeSelect(e) {
                var recipe = e.detail;

                this.selectedRecipe = clone(recipe);

                this.cardEditable = true;
                this.cardSaveable = true;
                this.cardCancelable = true;
                this.cardDeletable = true;

                this.cardEditing = false;
            },
            onRecipeSave() {
                let recipeId = this.selectedRecipe.id;
                if (recipeId === null) {
                    // new recipe
                    this.selectedRecipe.id = guid();
                    fetch('/api/recipes/', {
                        method: 'post',
                        headers: {['Content-Type']: 'application/json'},
                        body: JSON.stringify(this.selectedRecipe)
                    });
                } else {
                    // existing recipe
                    fetch('/api/recipes/' + recipeId, {
                        method: 'put',
                        headers: {['Content-Type']: 'application/json'},
                        body: JSON.stringify(this.selectedRecipe)
                    });
                }

                this.$.ajaxGetRecipes.generateRequest();

                this.selectedRecipe = null;
            },
            onRecipeDelete(e) {
                let recipe = e.detail;

                fetch('/api/recipes/' + recipe.id, {
                    method: 'delete'
                });

                this.$.ajaxGetRecipes.generateRequest();

                this.selectedRecipe = null;
            },
            onRecipeCancel() {
                let recipe = this.recipes.find(r => r.id === this.selectedRecipe.id);
                this.selectedRecipe = recipe;
            },
            onRecipeCardClose() {
                this.selectedRecipe = null;
            },
            onRecipeCardPhotoChange(e) {
                let recipe = this.selectedRecipe;
                let photo = e.detail.photo;
                let fileName = e.detail.fileName;
                let onUploaded = e.detail.onUploaded;

                let data = new FormData();
                data.append('photo', photo, fileName);

                fetch(`api/recipes/${recipe.id}/photo`, {
                    method: 'POST',
                    body: data
                }).then(onUploaded);
            }
        })
    </script>
</dom-module>