<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="./recipe-list.html">

<link rel="import" href="/iron-ajax/iron-ajax.html">

<dom-module id="recipe-list-app">
    <style>
        :host {
            font-size: 2rem;
        }

        :host .full-width {
            width: 100%;
        }

        :host input,
        :host textarea {
            padding: 5px;
            outline-offset: 0;
        }

        :host input[disabled],
        :host textarea[disabled] {
            border: none;
            box-shadow: none;
            background: transparent;
            color: black;
            cursor: inherit;
        }

        :host input:not([disabled]),
        :host textarea:not([disabled]) {
            border: none;
            box-shadow: none;
            outline: 1px solid gray;
        }
    </style>
    <template>
        <iron-ajax
            auto
            url="/api/recipes"
            handle-as="json"
            on-response="onRecipesReceived""></iron-ajax>

        <recipe-list
            recipes="{{recipes}}"
            on-recipe-add="onRecipeAdd">
        </recipe-list>
        
        <template is="dom-if" if="{{selectedRecipe}}"
            restamp="false">
            <recipe-card
                recipe="{{selectedRecipe}}"
                on-close="onRecipeCardClose"></recipe-card>
        </template>
    </template>
    <script>
        Polymer({
            is: 'recipe-list-app',
            properties: {
                recipes: Object,
                selectedRecipe: Object
            },
            onRecipesReceived(data) {
                this.recipes = data.detail.response.items;
            },
            onRecipeAdd() {
                var newRecipe = {
                    id: guid(),
                    name: '',
                    description: '',
                    complexity: 1,
                    popularity: 1,
                    ingredients: [],
                    steps: []
                };

                this.selectedRecipe = newRecipe;
            },
            onRecipeCardClose() {
                this.selectedRecipe = null;
            }
        })
    </script>
</dom-module>