.root {
  padding: 1em;
}

.upload > input {
  /* free space for modal close button */
  width: calc(100% - 2.5rem);
}

.image {
  margin-top: 1.25em;
  display: flex;
  justify-content: center;
  padding: 1.25em;
  background-color: lightgray;
}

.effects {
  margin-top: 1.25em;
  display: flex;
  justify-content: center;
}

.effects > button {
  margin-left: 0.3em;
}
