.list {
  /* initiate new block formatting context so child margins not slip out of
    list container */
  overflow: hidden;
}

.list__title {
  font-size: 1.3rem;
}

.list ul.ordered {
  list-style-type: decimal;
}

.list__item {
  line-height: 1.7em;
}
