.recipe-card-min {
  padding: 5px;
  overflow: hidden;
  position: relative;
  
  min-height: 130px;
}

.recipe-card-min.selectable {
  background-image: linear-gradient(
    90deg, 
    rgba(205, 187, 151, 0.5), 
    rgba(228, 218, 198, 0.9), 
    rgba(205, 187, 151, 0.5));
}

.recipe-card-min.selectable:hover {
  cursor: pointer;
  opacity: 1;
  background-image: linear-gradient(
    90deg, 
    rgba(205, 187, 151, 0.9), 
    rgba(228, 218, 198, 1), 
    rgba(205, 187, 151, 0.9));
  box-shadow: 0 0 15px #44372A;
}

.recipe-card-min + .recipe-card-min {
  margin-top: 10px;
}

.recipe-card-min .buttons {
  position: absolute;
  right: 5px;
}

.recipe-card-min .buttons a.delete {
  display: inline-block;
  background-image: url('/images/delete-dark.png');
  width: 16px;
  height: 16px;
}

.recipe-card-min .photo {
  max-width: 150px;
  max-height: 130px;
  float: left;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 5px #65523F;
}

.recipe-card-min .photo.empty {
  width: 150px;
  height: 130px;
}

.recipe-card-min .photo > img {
  height: 130px;
}

.recipe-card-min .photo input {
  display: none;
}

.recipe-card-min .properties {
  margin-left: 160px;
  display: inline-block;
  width: calc(100% - 160px);
}

.recipe-card-min .properties a.name {
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  max-width: 500px;
  max-height: 70px;
  overflow: hidden;
  color: #44372A;
}

.recipe-card-min.selectable:hover .properties a.name {
  text-decoration: underline;
}

.recipe-card-min .properties .description {
  max-height: 67px;
  overflow: hidden;
  color: #65523F;
}

.recipe-card-min .properties .metrics {
  margin-bottom: 10px;
  font-size: 15px;
  color: #65523F;
}
