# rust compilation results
/target/

# default directory for recipe image files managed by server
/images/

# client/trunk compilation results
/client/dist/

# css compilation results
/client/assets/
